# Prevent web access to everything outside public_html
<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>

<FilesMatch "^\.env$">
  Order allow,deny
  Deny from all
</FilesMatch>

<FilesMatch "artisan">
  Order allow,deny
  Deny from all
</FilesMatch>

<FilesMatch "composer\.(json|lock)">
  Order allow,deny
  Deny from all
</FilesMatch>

<FilesMatch "(.*)\.php$">
  Order allow,deny
  Deny from all
</FilesMatch>
